* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

body {
    background: #3a3939;
    color: black;
    animation: 2s infinite alternate slidein;
    filter: blur(0px);
    min-height: 100%;
}

.wrapper {
    margin: 0 auto;
}

header {
    position: relative;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: blur(0px);
    font-weight: 700;
}

.university-choice:hover {
    text-decoration: underline;
}

.university-choice {
    font-size: 19px;
}

.results-choice {
    font-size: 19px;
}

.results-choice:hover {
    text-decoration: underline;
}

.profile {
    color: white;
}

.username-icon {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.username-icon img {
    height: 50px;
}

.students-choice {
    font-size: 19px;
}

.students-choice:hover {
    text-decoration: underline;
}

.sign-btns {
    display: flex;
}

button.sign-up-btn, button.change-university {
    transition: .3s;
    width: 250px;
    cursor: pointer;
    height: 50px;
    background: transparent;
    border: 4px solid white;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin: 0 15px;
}

button.login-btn {
    transition: .3s;
    width: 130px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: 4px solid white;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin: 0 15px;
}

button.sign-up-btn:hover, button.change-university:hover {
    color: black;
    background: white;
}

button.login-btn:hover {
    color: black;
    background: white;
}

.links a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.form-bg {
    display: none;
    position: fixed;
    width: 100%;
    
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.no-scroll {
    overflow-y: hidden;
}

.form {
    display: none;
    transition: .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    height: 230px;
    flex-direction: column;
    justify-content: space-around;
    transform: translate(-50%, -50%);
    background: rgb(192, 191, 191);
    border-radius: 15px;
    padding: 15px 20px;
    z-index: 1000;
}
.input-box {
    margin: 15px 0;
}

.input-box input {
    height: 30px;
}

button.close-form {
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

button.close-form img {
    width: 20px;
    height: 20px;
}

.input-box input {
    margin-right: 15px;
}

.button-wrapper {
    display: flex;
    justify-content: start;
}

button.sign-in {
    cursor: pointer;
    width: 60px;
    background: transparent;
    border: 5px solid black;
    border-radius: 10px;
}

button.sign-up {
    cursor: pointer;
    width: 160px;
    background: transparent;
    border: 5px solid black;
    border-radius: 10px;
}

.text-container h2 {
    font-size: 30px;
    text-align: center;
}

ul {
    margin-top: 50px;
    list-style-type: none;
    transition: .2s;
    display: flex;
    flex-direction: column;
}


ul.ul li {
    margin-top: 50px;
    
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    
}

.uni-text {
    font-size: 18px;
    padding: 0 40px;
    font-weight: 400;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container img {
    width: 720px;
    height: 450px;
    padding: 0 20px;
}

.uni-wrapper {
    background: white;
    padding: 25px 20px;
    margin: 0 50px;
    border-radius: 25px;
    overflow: hidden;
}

.text-container {
    padding: 0 20px;
    max-width: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-docs {
    transition: .3s;
    margin-top: 13px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-docs:hover {
    background: black;
    color: white;
}

.docs-form {
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    width: 500px;
    height: 300px;
    background: white;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    
}

.docs-text {
    font-size: 23px;
    margin-bottom: 40px;
}
.docs-input {
    width: 200px;
    margin: 20px 0;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
}

.docs-send {
    height: 50px;
    width: 150px;
    background: transparent;
    border-radius: 10px;
    font-size: 20px;
    border: black solid 5px;
    cursor: pointer;
    transition: .3s;
}

.docs-send:hover {
    background: black;
    color: white
}

.ul{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.ul li{
    width: 45%;
}

.universe {
    display: none;
    color: white;
    text-align: center;
}

button.change-university {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}